body{
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}

.navbar-brand{
    font-weight: bold;
}
 header{ 
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
} 
section{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card{
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: translateY(-10px);
}

footer{
    background-color: rgb(71, 69, 69);
}
.skill-circle{
    width: 100px;
    height: 100px;
    background-color: #f3b50a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}